[submodule "backend"]
    path = backend
    url = https://github.com/kinlaten/ZeniSearch-BackEnd

[submodule "frontend"]
    path = frontend
    url = https://github.com/kinlaten/ZeniSearch-FrontEnd
